certifi==2018.4.16
chardet==3.0.4
dj-database-url==0.5.0
Django==1.11.13
django-heroku==0.3.1
gunicorn==19.8.1
idna==2.7
ordereddict==1.1
pbr==4.0.4
pipenv==2018.6.25
psycopg2==2.7.5
pytz==2018.4
requests==2.19.1
six==1.11.0
stevedore==1.28.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
whitenoise==3.3.1
